* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* First Header */

#first-header {
    width: 100%;
    height: 45px;
    /* background-color: red; */
}

#first-header .fst-header {
    width: 85%;
    margin: 0 auto;
}

#first-header .fst-header .brand {
    float: left;
    font-weight: 200;
}

#first-header .fst-header .local {
    float: right;
    font-weight: 500;
}

.fst-header .local a {
    text-decoration: none;
}

.fst-header .local a:hover {
    text-decoration: underline;
}

#first-header .fst-header .brand,
#first-header .fst-header .local,
.fst-header .local a {
    line-height: 45px;
    font-family: Lexend Deca;
    color: rgb(106, 113, 114);
    font-size: 14px;
}

#first-header .fst-header .brand {
    position: relative;
}

#first-header .fst-header .brand .show-brand-button {
    background-color: transparent;
    border: none;
    line-height: 45px;
    font-weight: 200;
    font-family: Lexend Deca;
    color: rgb(106, 113, 114);
    font-size: 14px;
}

.fst-header .brand-box {
    position: absolute;
    z-index: 10;
    width: 130px;
    height: 90px;
    background-color: #fff;
    left: 20px;
    display: none;
}

.fst-header .brand-box li {
    list-style: none;
    width: 100%;
    height: 40px;
    padding-left: 20%;
}

.brand-box li img {
    filter: grayscale();
    transition: 0.3s all;
}

.brand-box li .img1:hover {
    filter: none;
}

.brand-box li .img2:hover {
    transform: scale(120%);
}

/* First Header */

/* Header */
#main {
    width: 100%;
    height: fit-content;
}

#main #header {
    width: auto;
    height: 42em;
    background: url('../image/Banner/mx-keys-s-hpb-desktop.webp') center center /cover no-repeat;
}

#main .desktop-header-wrap {
    width: 85%;
    height: 50px;
    margin: 0 auto;
    /* background-color: red; */
}

#main #header #desktop-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#main #header .desktop-header-wrap li {
    display: inline-block;
    line-height: 50px;

}

#main #header .desktop-header-wrap li button {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-family: Lexend Deca;
    color: rgb(0, 0, 0);
    font-size: 1em;
    padding: 8px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#main #header .desktop-header-wrap li button:hover {
    background-color: #fff;
    color: #000;
}

#main #header .mini-nav {
    width: fit-content;
    display: block;
    width: 110px;
}

#main #header .mini-nav button {
    font-size: 18px;
    line-height: 50px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

#main #header .mini-nav .desktop-search {
    margin-right: 25px;
}

#main #header .mini-nav .desktop-search-box {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    border-top: 1px solid #C3C6C8;
    height: 100px;
    background-color: #fff;
    display: none;
    animation-duration: 0.3s;
}

@keyframes Search-box-motion-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Search-box-motion-out {
    from {
        opacity: 0.7;

    }

    to {
        opacity: 0;
    }
}

#main #header .desktop-search-box .search-box-wrap {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#header .desktop-search-box .search-box-wrap #desktop-search-input {
    height: 90px;
    border: none;
    font-family: Lexend Deca;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

#desktop-search-input:focus {
    outline: none;

}

#desktop-search-input::placeholder {
    text-transform: uppercase;
    font-family: Lexend Deca;
    font-weight: 600;
    font-size: 20px;
    color: #C3C6C8;
}

#header .desktop-search-box .search-box-wrap #desktop-close-search {
    font-size: 25px;
    line-height: 100px;
    color: #C3C6C8;
    cursor: pointer;
    transition: 0.1s;
}

#header .desktop-search-box .search-box-wrap #desktop-close-search:hover {
    color: black;
}

#header .tablet-header-wrap,
#header .mobile-header-wrap {
    display: none;
}

.tablet-box-element,
.mobile-box-element {
    display: none;
}

#header #desktop-banner-infor {
    width: 27em;
    font-family: Lexend Deca;
}

#header #desktop-banner-infor .desktop-banner-title {
    padding-top: 5px;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1em;
    color: #fff;
}

#header #desktop-banner-infor .desktop-banner-paraphagh {
    font-size: 1.4rem;
    font-weight: 200;
    word-spacing: 3px;
    padding: 1em 0;
    color: #fff;

}

#header #desktop-banner-infor .desktop-banner-button {
    margin-top: 1em;
    padding: 0 5px;
    width: 17em;
    height: 3.8rem;
    background-color: #fff;
    color: #2F3132;
    border: none;
    font-family: Lexend Deca;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;

}




#header #desktop-banner-infor .desktop-banner-button:hover {
    background-color: transparent;
    color: #FFF;
    border: 3px solid #fff;
}

/* Header*/

/* BODY */

#body #body-present .body-present {
    padding-top: 80px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#body .body-present #present-box {
    width: 32%;
    /* background-color: red; */
}

#body .body-present #present-box img {
    width: 100%;
}

#body #present-box a,
#body #present-box p {
    text-decoration: none;
    font-family: Lexend Deca;

}

#body #present-box a:hover {
    text-decoration: underline;
}

#body #present-box .present-title {
    margin: 10px 0;
}

#body #present-box .present-title a {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    word-spacing: 1px;
}

#body #present-box p {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 200;
    margin-bottom: 0.5em;

}

#body #present-box .access-title {
    font-size: 14px;
    padding: 4px 0;
    color: #fff;
}

#body #present-box .access-title i {
    margin-left: 10px;
    color: #2F3132;
}

/* Product navigation */
#grid-product-navigation {
    width: 100%;
}

#desktop-product-navigation {
    margin-top: 5em;
    width: 100%;
    height: 47em;
    position: relative;
    overflow: hidden;
}

#desktop-product-navigation #slide-button {
    width: calc(12%/2);
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 10;
    font-size: 3.5em;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}

#desktop-product-navigation #slide-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

#slide-box {
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#slide-box .slide {
    flex-shrink: 0;
    width: calc(100%/3);
    height: 100%;
}


#desktop-product-wrap #nav-dot {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

#desktop-product-wrap #nav-dot .dot {
    margin: 1em 0.5em;
    width: 1.1em;
    height: 1.1em;
    background: #000;
    border-radius: 50%;
    border: none;
    transform: scale(80%);
    transition: 0.7s;
}

#desktop-product-wrap #nav-dot .dotAnimation {
    background-color: transparent;
    transform: scale(110%);
    border: 4px solid #000;
}

#desktop-product-wrap #slide-box .slide .slide-content-grid {
    display: grid;
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 31.5% 31.5% 31.5%;
    grid-gap: 20px;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

#desktop-product-wrap .product-element {
    background-color: #f5f5f4;
    position: relative;
}

#desktop-product-wrap .product-img-wrap {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

#desktop-product-wrap .product-element img {
    width: 100%;
    scale: 95%;
    transition: 0.3s;
}

#desktop-product-wrap .product-element:hover img {
    scale: 105%;
}

#desktop-product-wrap .product-element h3 {
    width: 100%;
    font-family: Lexend Deca;
    font-weight: 600;
    color: #2F3132;
    text-align: center;
}
#slide-box .slide .slide-content-grid .product-element-grid1 {
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: #f5f5f4;
    background-size: 100%;
    cursor: pointer;
}

#slide-box .slide .slide-content-grid .product-element-grid2 {
    grid-row: 3;
    grid-column: 1;
}

#slide-box .slide .slide-content-grid .product-element-grid3 {
    grid-row: 3;
    grid-column: 2;
}

#slide-box .slide .slide-content-grid .product-element-grid4 {
    grid-row: 1;
    grid-column: 3;
    position: relative;
}
#slide-box .slide .slide-content-grid .product-element-grid5 {
    grid-row: 2/4;
    grid-column: 3;
}
#slide-box .slide .slide-content-grid .product-element-grid5 h3{
    margin-top: 1.5em;
}





/* Product navigation */


/* BODY */




@media (min-width: 720px) and (max-width: 1024px) {
    #main {
        animation-duration: 0.3s;
    }

    @keyframes tablet-header-slideA-motion {
        0% {
            transform: translateX(0%);
        }

        50% {
            filter: brightness(0.2);
        }

        100% {
            transform: translateX(73%);
            filter: brightness(0.3);
        }
    }

    @keyframes tablet-header-slideB-motion {
        0% {
            transform: translateX(73%);
            filter: brightness(0.3);
        }

        100% {
            transform: translateX(0%);
        }
    }





    /* Header */
    #main #header {
        background: url('../image/Banner/mx-keys-s-hpb-tablet.webp') center center /cover no-repeat;
        height: 75vh;
    }

    #first-header,
    .desktop-header-wrap,
    .mobile-header-wrap,
    #desktop-product-navigation #slide-button {
        display: none;
    }

    #desktop-product-wrap #slide-box .slide .slide-content-grid {
        width: 90%;
    }

    #header .tablet-header-wrap {
        display: block;
    }

    #header .tablet-header-wrap {
        width: 94%;
        height: 50px;
        margin: 0 auto;
    }

    #header .tablet-header-wrap .tablet-navigation {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }


    #header .tablet-header-wrap .tablet-nav-box i {
        font-size: 25px;
        line-height: 46px;
        cursor: pointer;
    }

    #header .tablet-header-wrap .tablet-search-button {
        font-size: 20px;
        cursor: pointer;
        line-height: 46px;
        background-color: transparent;
        border: none;
    }

    #header .tablet-header-wrap .tablet-search-button i {
        line-height: 46px;
    }

    #main #header .tablet-header-wrap .tablet-search {
        margin-right: 25px;
    }

    #main #header .tablet-header-wrap .tablet-search-box {
        position: fixed;
        top: 0px;
        z-index: 10;
        left: 0;
        width: 100%;
        border-top: 1px solid #C3C6C8;
        height: 55px;
        background-color: #fff;
        display: none;
        animation-duration: 0.3s;
    }


    #main #header .tablet-search-box .search-box-wrap {
        width: 93%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    #header .tablet-search-box .search-box-wrap #tablet-search-input {
        height: 55px;
        border: none;
        font-family: Lexend Deca;
        font-weight: 600;
        font-size: 1rem;
        color: #000000;
    }

    #tablet-search-input:focus {
        outline: none;

    }

    #tablet-search-input::placeholder {
        text-transform: uppercase;
        font-family: Lexend Deca;
        font-weight: 600;
        font-size: 15px;
        color: #C3C6C8;
    }

    #header .tablet-search-box .search-box-wrap #tablet-close-search {
        font-size: 1.3em;
        line-height: 50px;
        color: #C3C6C8;
        cursor: pointer;
        transition: 0.1s;
    }

    #header .tablet-search-box .search-box-wrap #tablet-close-search:hover {
        color: black;
    }

    /* tablet box element */
    .mobile-box-element {
        display: none;
    }

    .tablet-box-element {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        display: none;
        width: 73%;
        height: 100vh;
        background-color: #f4f4f4;
        animation-duration: 0.3s;
    }

    @keyframes tablet-box-open-motion {
        0% {
            transform: translateX(-110%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes tablet-box-close-motion {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-110%);
        }
    }

    .tablet-box-element .tablet-login {
        position: relative;
        width: 100%;
        background-color: #fff;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: Lexend Deca;
        font-weight: 200;
        font-size: 14px;
        border-bottom: 1px solid #cdcdcd;
        border-right: 1px solid #cdcdcd;
        color: #000000;
    }

    .tablet-box-element .tablet-box-close {
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        padding-left: 1em;
        color: #4d4d4d;
    }

    .tablet-box-element li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        line-height: 70px;
        padding: 0 25px;
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;
        border-bottom: 1px solid #cdcdcd;
        line-height: 70px;
    }

    .tablet-box-element li i {
        line-height: 70px;
    }

    .tablet-box-element li a {
        text-decoration: none;
        font-family: Lexend Deca;
        font-weight: 600;
        color: black;
    }

    .tablet-local {
        position: absolute;
        bottom: 0;
        font-weight: 500;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        text-align: center;
        color: rgb(106, 113, 114);

    }

    .tablet-local a {
        line-height: 80px;
        font-weight: 400;
        font-family: Lexend Deca;
        color: rgb(106, 113, 114);
        font-size: 14px;
    }

    .tablet-local a:hover {
        text-decoration: underline;
    }


    /* tablet box element */
    #header #tablet-banner-infor {
        width: 70%;
        margin: 0 auto;
        padding-top: 3.5em;
        font-family: Lexend Deca;
        text-align: center;
    }

    #header #tablet-banner-infor .tablet-banner-title {
        padding-top: 5px;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1em;
        color: #fff;
        word-spacing: 3px;

    }

    #header #tablet-banner-infor .tablet-banner-paraphagh {
        font-size: calc(1em + 2px);
        font-weight: 200;
        word-spacing: 3px;
        padding: 1em 0;
        color: #fff;
        line-height: 1.3em;
    }

    #header #tablet-banner-infor .tablet-banner-button {
        margin-top: 1em;
        width: 16rem;
        height: 3.4rem;
        background-color: #fff;
        color: #2F3132;
        border: none;
        font-family: Lexend Deca;
        text-decoration: none;
        font-size: 0.9em;
        font-weight: 600;
        transition: 0.3s;

    }

    #header #tablet-banner-infor .tablet-banner-button:hover {
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff;
    }

    /* Header */




    /* BODY */

    /* BODY */

}

@media (max-width: 720px) {
    #main {
        animation-duration: 0.3s;
    }

    @keyframes mobile-header-slideA-motion {
        0% {
            transform: translateX(0%);
        }

        50% {
            filter: brightness(0.2);
        }

        100% {
            transform: translateX(73%);
            filter: brightness(0.3);
        }
    }

    @keyframes mobile-header-slideB-motion {
        0% {
            transform: translateX(73%);
            filter: brightness(0.3);
        }

        100% {
            transform: translateX(0%);
        }
    }


    #main #header {
        background: url('../image/Banner/mx-keys-s-hpb-mobile.webp') center center /cover no-repeat;
        height: 75vh;
    }

    .tablet-box-element {
        display: none;
    }


    #first-header,
    .desktop-header-wrap,
    .tablet-header-wrap,
    #desktop-product-navigation #slide-button {
        display: none;
    }

    #desktop-product-wrap #slide-box .slide .slide-content-grid {
        width: 95%;
    }


    #header .mobile-header-wrap {
        display: block;
        width: 94%;
        height: 50px;
        margin: 0 auto;
        /* background-color: red; */
    }

    #header .mobile-header-wrap .mobile-navigation {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;

    }

    #header .mobile-header-wrap .mobile-nav-box i {
        font-size: 25px;
        line-height: 46px;
        cursor: pointer;
    }

    #header .mobile-header-wrap .mobile-search-button {
        font-size: 20px;
        cursor: pointer;
        line-height: 46px;
        background-color: transparent;
        border: none;
    }

    #header .mobile-header-wrap .mobile-search-button i {
        line-height: 46px;
    }

    #main #header .mobile-header-wrap .mobile-search {
        margin-right: 25px;
    }

    #main #header .mobile-header-wrap .mobile-search-box {
        position: fixed;
        top: 0px;
        z-index: 10;
        left: 0;
        width: 100%;
        border-top: 1px solid #C3C6C8;
        height: 55px;
        background-color: #fff;
        display: none;
        animation-duration: 0.3s;
    }


    #main #header .mobile-search-box .search-box-wrap {
        width: 93%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    #header .mobile-search-box .search-box-wrap #mobile-search-input {
        height: 50px;
        border: none;
        font-family: Lexend Deca;
        font-weight: 600;
        font-size: 1rem;
        color: #000000;
    }

    #mobile-search-input:focus {
        outline: none;

    }

    #mobile-search-input::placeholder {
        text-transform: uppercase;
        font-family: Lexend Deca;
        font-weight: 600;
        font-size: 15px;
        color: #C3C6C8;
    }

    #header .mobile-search-box .search-box-wrap #mobile-close-search {
        font-size: 1.3em;
        line-height: 50px;
        color: #C3C6C8;
        cursor: pointer;
        transition: 0.1s;
    }

    #header .mobile-search-box .search-box-wrap #mobile-close-search:hover {
        color: black;
    }

    /* mobile box element */
    .mobile-box-element {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        display: none;
        width: 88vw;
        height: 100vh;
        background-color: #f4f4f4;
        animation-duration: 0.3s;
    }

    @keyframes mobile-box-open-motion {
        0% {
            transform: translateX(-120%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes mobile-box-close-motion {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-120%);
        }
    }

    .mobile-box-element .mobile-login {
        position: relative;
        width: 100%;
        background-color: #fff;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: Lexend Deca;
        font-weight: 200;
        font-size: 14px;
        border-bottom: 1px solid #cdcdcd;
        border-right: 1px solid #cdcdcd;
        color: #000000;
    }

    .mobile-box-element .mobile-box-close {
        position: absolute;
        top: 0;
        right: -49px;
        width: 49px;
        height: 49px;
        background-color: #ffffff;
        padding-left: 1em;
        color: #4d4d4d;
    }

    .mobile-box-element li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        line-height: 70px;
        padding: 0 25px;
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;
        border-bottom: 1px solid #cdcdcd;
        line-height: 70px;
    }

    .mobile-box-element li i {
        line-height: 70px;
    }

    .mobile-box-element li a {
        text-decoration: none;
        font-family: Lexend Deca;
        font-weight: 600;
        color: black;
    }

    .mobile-local {
        position: absolute;
        bottom: 0;
        font-weight: 500;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        text-align: center;
        color: rgb(106, 113, 114);

    }

    .mobile-local a {
        line-height: 80px;
        font-weight: 400;
        font-family: Lexend Deca;
        color: rgb(106, 113, 114);
        font-size: 14px;
    }

    #header #mobile-banner-infor {
        width: 90%;
        height: 50px;
        margin: 0 auto;
        padding-top: 3.5em;
        font-family: Lexend Deca;
        text-align: center;
    }

    #header #mobile-banner-infor .mobile-banner-title {
        padding-top: 5px;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1em;
        color: #fff;
        /* word-spacing: 1px; */

    }

    #header #mobile-banner-infor .mobile-banner-paraphagh {
        font-size: 0.9em;
        font-weight: 200;
        padding: 1em 0;
        line-height: 1.3em;
        color: #fff;
    }

    #header #mobile-banner-infor .mobile-banner-button {
        margin-top: 1em;
        width: 16rem;
        height: 3.4rem;
        background-color: #fff;
        color: #2F3132;
        border: none;
        font-family: Lexend Deca;
        text-decoration: none;
        font-size: 0.9em;
        font-weight: 600;
        transition: 0.3s;
    }

    #header #mobile-banner-infor .mobile-banner-button:hover {
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff;
    }

    #body #body-present .body-present {

        display: flex;
        flex-direction: column;
    }

    #body #body-present .body-present #present-box {
        width: 100%;
        margin-bottom: 1em;
    }
}